# cluster-scaler

{% if repo_type == 'gitlab' -%}
{% include '.gitlab/badges.md' %}
{%- endif %}

## Table of content
<!--TOC-->

- [Table of content](#table-of-content)
- [Installation process](#installation-process)

<!--TOC-->

## Installation process

The installation is entirely managed by Argocd.

A `Makefile` is present here to ease the first and one-time deployment or in case of an issue.
The installation should be done in two steps:

```shell
#> make dry-run ENV=<ENV>
#> make install ENV=<ENV>
```
